.tooltipContainer {
  position: relative;
}
.tooltipActive {
  display: block;
  position: absolute;
  z-index: 1;
  left: 60%;
  pointer-events: none;
}

.tooltipNone {
  display: none;
}
.wrappImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  cursor: pointer;
}
.large {
  border-radius: 20%;
  width: 10em;
  height: 10em;
  border: solid 3px rgb(56, 54, 54);
  box-shadow: 3px 2px 5px 1px rgb(143, 143, 143);
}
