.table {
  border-collapse: collapse;
  width: 70%;
  height: fit-content;
  table-layout: fixed;
}
.table td {
  text-align: center;
  padding: 3px;
  word-wrap: break-word;
}

.table th,
.table td {
  border: solid 3px orange;
}
